
.header{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    border-bottom: 1px solid gray;

    .header__img-container{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;

        img{
            width: 100%;
        }
    }

    .header__nav__list-item{
        list-style: none;
        color: #f9ff2f;
        cursor: pointer;
        position: relative;
    }

    .header__nav__list-item::after{
        content: '';
        position: absolute;
        background: white;
        display: block;
        height: 2px;
        width: 100%;
        opacity: 0;
        top: 30px;
        -webkit-transition: opacity 0.3s, top .3s;
        -moz-transition: opacity 0.3s, top .3s;
        -o-transition: opacity 0.3s, top .3s;
        transition: opacity 0.3s, top .3s;
    }

    .header__nav__list-item:hover::after{
        opacity: 1;
        top: 21px;
    }
}